<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.TicketsConnectionString"
            connectionString="Data Source=tcp:192.168.123.6,1433;Initial Catalog=Tickets;Persist Security Info=True;User ID=sa;Password="
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.TicketsConnectionString2"
            connectionString="Data Source=tcp:192.168.123.6,1433;Initial Catalog=Tickets;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.GAB_IrapuatoConnectionString"
            connectionString="Data Source=tcp:192.168.123.6,1433;Initial Catalog=GAB_Irapuato;Persist Security Info=True;User ID=sa;Password=Gabira2026$"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.GAB_IrapuatoConnectionString1"
            connectionString="Data Source=tcp:192.168.123.6,1433;Initial Catalog=GAB_Irapuato;Persist Security Info=True;User ID=sa;Password=Gabira2026$"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.RESPALDO_GABConnectionString"
            connectionString="Data Source=GABSQL\SQL2017;Initial Catalog=RESPALDO_GAB;Persist Security Info=True;User ID=saTest;Password=Gabira2026$;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.GAB_IrapuatoConnectionString2"
            connectionString="Data Source=tcp:189.206.160.206,2352;Initial Catalog=GAB_Irapuato;Persist Security Info=True;User ID=sa;Password=Gabira2026$;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.GAB_IrapuatoConnectionString3"
            connectionString="Data Source=tcp:189.206.160.206,2352;Initial Catalog=GAB_Irapuato;Persist Security Info=True;User ID=sa;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings> 
</configuration>